NET "I_clk" TNM_NET = I_clk;
TIMESPEC TS_I_clk = PERIOD "I_clk" 20 ns HIGH 50%;
NET "I_clk"     LOC = Y6     |   IOSTANDARD = LVCMOS33;  
NET "I_rst"     LOC = W16    |   IOSTANDARD = LVCMOS33; 
NET "I_start"           LOC = T21    |   IOSTANDARD = LVCMOS33;  
     
NET "O_vga_vsy"         LOC = V9     |  IOSTANDARD = LVCMOS33; 
NET "O_vga_hsy"         LOC = V10    |  IOSTANDARD = LVCMOS33;
NET "O_vga_red[0]"      LOC = V12    |  IOSTANDARD = LVCMOS33;
NET "O_vga_red[1]"      LOC = W10    |  IOSTANDARD = LVCMOS33;
NET "O_vga_red[2]"      LOC = W11    |  IOSTANDARD = LVCMOS33;
NET "O_vga_red[3]"      LOC = W8     |  IOSTANDARD = LVCMOS33;
NET "O_vga_red[4]"      LOC = V8     |  IOSTANDARD = LVCMOS33; 
NET "O_vga_green[0]"    LOC = AA12   |  IOSTANDARD = LVCMOS33;
NET "O_vga_green[1]"    LOC = U9     |  IOSTANDARD = LVCMOS33;
NET "O_vga_green[2]"    LOC = U10    |  IOSTANDARD = LVCMOS33;
NET "O_vga_green[3]"    LOC = U11    |  IOSTANDARD = LVCMOS33;
NET "O_vga_green[4]"    LOC = U12    |  IOSTANDARD = LVCMOS33; 
NET "O_vga_blue[0]"     LOC = AB9    |  IOSTANDARD = LVCMOS33;  
NET "O_vga_blue[1]"     LOC = AB10   |  IOSTANDARD = LVCMOS33;
NET "O_vga_blue[2]"     LOC = AB11   |  IOSTANDARD = LVCMOS33;
NET "O_vga_blue[3]"     LOC = AA11   |  IOSTANDARD = LVCMOS33;
NET "O_vga_blue[4]"     LOC = AB12   |  IOSTANDARD = LVCMOS33; 
